@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: theme("fontFamily.sans");
  background: radial-gradient(circle at top left, #1f2128 0%, #0f1117 60%);
  min-height: 100vh;
}

a {
  color: inherit;
}
